/*-----------------------Loading and error screen-----------------------*/

#loading-screen-container {
  margin: auto;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

#storage-error-container {
  margin: auto;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}

.loader {
  border: 16px solid #dbd2d2;
  border-radius: 50%;
  border-top: 16px solid #942323;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*------------------Storage container-------------------------*/

#storage-list-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #c4b3a9;
  text-align: center;
  width: 95%;
  height: calc(83vh);
  overflow-y: scroll;
  position: relative;
}

#storage-card-container {
  margin: 0 auto;
  padding: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #3b3a3a;
  text-align: center;
  width: 95%;
  height: calc(62vh);
  overflow-y: scroll;
  position: relative;
}