
/*------------------Storage container-------------------------*/

#storage-list-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #c4b3a9;
  text-align: center;
  width: 95%;
  height: calc(83vh);
  overflow-y: scroll;
  position: relative;
}

#storage-card-container {
  margin: 0 auto;
  padding: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #3b3a3a;
  text-align: center;
  width: 95%;
  height: calc(62vh);
  overflow-y: scroll;
  position: relative;
}