#storage-creator-container{
    color: rgb(216, 209, 209);
    padding-bottom: 1vw;
}


#create-storage-button{
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    font-weight: bold;
    font-size: large;
}

#create-storage-input{
    margin-bottom: 1vw;
    font-size: large;
}

#storage-creator-container label {
    font-size: large;
    font-weight: bold;
    color: #363434;
}