#item-container {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #c4b3a9;
    text-align: center;
    width: 95%;
    height: calc(93vh);
    overflow-y: scroll;
    position: relative;
}

#item-creator-container{
    display: inline-block;
    padding: calc(2.35rem);
    background-color: #363434;
    border-radius: 8px;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: calc(2.5rem);
    justify-content: center;
    background-color: #c4b3a9;
    border-radius: 8px;
}

.item-card {
    width: calc(100% - 2.35rem);
    min-height: calc(6rem);
    padding: 1rem;
    border-radius: 0.625rem;
    text-align: left;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(50, 47, 47);
    border: 5px solid #b30116;
    background-color: rgb(150 133 113);
    margin: 0 auto;
}

.item-name {
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 100%;
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
}

.btn {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    margin: calc(0.3rem);
    margin-bottom: calc(0.5rem);
}

.refill-btn {
    background-color: #363434;
    color: rgb(40, 224, 40);
}

.delete-btn {
    background-color: #363434; 
    color: rgb(224, 40, 40);
}